/*.elements {*/
/*    margin: 0 0 2em 0;*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*    width: 15em;*/
/*}*/

/*.elements li {*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    left: 0;*/
/*    background-color: #EEE;*/
/*    margin: .5em;*/
/*    padding: .3em 0;*/
/*    height: 1.6em;*/
/*    border-radius: 4px;*/
/*}*/
/*.elements li:hover {*/
/*    color: #2c3a41;*/
/*    background-color: #e6e6e6;*/
/*    left: .1em;*/
/*}*/
/*.elements li.selected {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/
/*.elements li.selected:hover {*/
/*    background-color: #505050;*/
/*    color: white;*/
/*}*/
/*.elements li.selected:active {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

button {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

button:hover {
    color: white;
    background-color: #42545C;
}
